<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="
http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="
http://www.w3.org/2001/XMLSchema-instance">
 
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="logfile" fileName="C:\Users\lalit.singh\Downloads\SubmissionBank\UPIWork\Logs\log.txt"
            layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
    <!-- write logs to console but only for levels above Info -->
    <target xsi:type="Console" name="logconsole"
            layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
  </targets>
 
  <!-- rules to map from logger name to target -->
  <rules>
    <!-- log all levels to file -->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <!-- log only levels above Info to console -->
    <logger name="*" minlevel="Warn" writeTo="logconsole" />
  </rules>
</nlog>